<div class="page-title">
    <h3>Mantenimiento de cursos</h3>
</div>

<mat-card>
    <mat-card-content>
        <button mat-raised-button color="accent" (click)="addClassRoom()">
            <mat-icon>
                add_circle_outline
            </mat-icon>
            Nuevo
        </button>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource] = "dataSource">
                
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let classRoom" class="nice-text"> {{classRoom.name}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Código">
                    <th mat-header-cell *matHeaderCellDef> Código </th>
                    <td mat-cell *matCellDef="let classRoom"> {{classRoom.code}} </td>
                </ng-container>


                <ng-container matColumnDef="Descripción">
                    <th mat-header-cell *matHeaderCellDef> Descripción </th>
                    <td mat-cell *matCellDef="let classRoom" class="nice-text"> {{classRoom.description}} </td>
                </ng-container>

                <ng-container matColumnDef="Cantidad máxima de maestros">
                    <th mat-header-cell *matHeaderCellDef> Cantidad máxima de maestros </th>
                    <td mat-cell *matCellDef="let classRoom"> {{classRoom.teachersQuantity}} </td>
                </ng-container>

                <ng-container matColumnDef="Cantidad máxima de estudiantes">
                    <th mat-header-cell *matHeaderCellDef> Cantidad máxima de estudiantes </th>
                    <td mat-cell *matCellDef="let classRoom"> {{classRoom.studentsQuantity}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Acciones">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let classRoom">
                        <button mat-button (click)="editClassRoom(classRoom)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-button color="warn" (click)="deleteClassRoom(classRoom.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                           showFirstLastButtons >
            </mat-paginator>
          </div>
    </mat-card-content>
</mat-card>