<mat-drawer-container class="sidenav-container">
  <!-- <div class="toggle-button-container">
    <button mat-button (click)="toggleExpand()">
      <mat-icon>menu</mat-icon>
    </button>
  </div> -->
  <mat-drawer mode="side" opened class="sidenav-links">
    <mat-divider></mat-divider>
    <mat-nav-list>
      <div class="nav-title">
        <h3>Mantenimientos</h3>
      </div>
      <a mat-list-item routerLink="teachers"><mat-icon>person</mat-icon> &nbsp; Maestros</a>
      <a mat-list-item routerLink="students"><mat-icon>groups</mat-icon> &nbsp; Estudiantes</a>
      <a mat-list-item routerLink="classRooms"><mat-icon>school</mat-icon> &nbsp; Cursos</a>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <div class="nav-title">
        <h3>Sistemas</h3>
      </div>
      <a mat-list-item routerLink="assignments"><mat-icon>list</mat-icon> &nbsp; Asignación de cursos</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

